$block-width: 230px;
$block-height: 130px;
$block-margin: 4px;
$block-columns: 4;

body {
	margin: 0;
	background: black;
}

.wrapper {
	width: $block-width * $block-columns + $block-margin * ($block-columns + 1);
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: $block-height + $block-margin;

	&--double {
		height: $block-height*2 + $block-margin*2;
	}
}

.block {
	width: $block-width;
	height: $block-height;
	margin: $block-margin 0 0 $block-margin;
		background: gray;

	&--double {
		width: $block-width*2 + $block-margin;
		height: $block-height*2 + $block-margin;
	}
}
